<footer class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
          <div class="footer-col-inner">
            <h3 class="title">About us</h3>
            <ul class="list-unstyled">
              <li><a href="{{ site.baseurl }}/blog"><i class="fa fa-caret-right"></i>Blog</a></li>
              <!--<li><a href="#"><i class="fa fa-caret-right"></i>Jobs</a></li>-->
              <li><a href="{{ site.baseurl }}/contact"><i class="fa fa-caret-right"></i>Contact us</a></li>
            </ul>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
          <div class="footer-col-inner">
            <h3 class="title">Product</h3>
            <ul class="list-unstyled">
              <li><a href="{{ site.baseurl }}/getting-started"><i class="fa fa-caret-right"></i>Getting started</a></li>
              <!--<li><a href="#"><i class="fa fa-caret-right"></i>API</a></li>-->
            </ul>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
          <div class="footer-col-inner">
            <h3 class="title">Support</h3>
            <ul class="list-unstyled">
              <li><a href="{{ site.baseurl }}/contact"><i class="fa fa-caret-right"></i>Help</a></li>
              <!--<li><a href="#"><i class="fa fa-caret-right"></i>Documentation</a></li>-->
              <!--<li><a href="#"><i class="fa fa-caret-right"></i>Terms of services</a></li>-->
              <!--<li><a href="{{ site.baseurl }}/privacy"><i class="fa fa-caret-right"></i>Privacy</a></li>-->
            </ul>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="footer-col contact col-md-6 col-sm-12 col-xs-12">
          <div class="footer-col-inner">
            <a name="contact"></a>
            <h3 class="title">Contact us</h3>
            <p class="email"><i class="fa fa-envelope-o"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            <p class="adr clearfix">
              <i class="fa fa-map-marker pull-left"></i>
              <span class="adr-group pull-left">
                <span class="street-address">Rue Galilée 15</span><br>
                <span class="city">1400 Yverdon-les-Bains</span><br>
                <span class="country-name">Switzerland</span>
              </span>
            </p>
          </div>
          <div class="footer-col-inner connect">
            <ul class="social list-inline">
              <li><a href="https://twitter.com/probedock" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li class="row-end"><a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-col download col-md-6 col-sm-12 col-xs-12">
          <div class="footer-col-inner">
            <h3 class="title">On GitHub</h3>
            <ul class="list-unstyled download-list">
              <li><a class="btn btn-ghost" href="https://github.com/probedock/probedock"><i class="fa fa-github"></i><span class="text">Probe Dock</span> </a></li>
              <li><a class="btn btn-ghost" href="https://github.com/probedock/probedock-clients"><i class="fa fa-github"></i><span class="text">Probe Dock Probes</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-bar">
    <div class="container">
      <small class="copyright">Copyright &copy; 2016 <a href="{{ site.baseurl }}/" target="_blank">{{ site.title }}</a></small>
    </div>
  </div>
</footer>

<!-- Javascript -->
<script type="text/javascript" src="{{ "/assets/plugins/rrssb/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/jquery-1.11.2.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/jquery-migrate-1.2.1.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/jquery.scrollTo-2.1.1.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/bootstrap-hover-dropdown.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/back-to-top.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/jquery-placeholder/jquery.placeholder.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/FitVids/jquery.fitvids.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/flexslider/jquery.flexslider-min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/rrssb/js/rrssb.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/imagesloaded/imagesloaded.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/masonry.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/blog.js" | prepend: site.baseurl }}"></script>

<!-- Vimeo video API -->
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<script type="text/javascript" src="{{ "/assets/js/vimeo.js" | prepend: site.baseurl }}"></script>
