<footer class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
          <div class="footer-col-inner">
            <h3 class="title">About us</h3>
            <ul class="list-unstyled">
              <li><a href="#"><i class="fa fa-caret-right"></i>Who we are</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>Press</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>Blog</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>Jobs</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>Contact us</a></li>
            </ul>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
          <div class="footer-col-inner">
            <h3 class="title">Product</h3>
            <ul class="list-unstyled">
              <li><a href="#"><i class="fa fa-caret-right"></i>How it works</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>API</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>Download Apps</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>Pricing</a></li>
            </ul>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
          <div class="footer-col-inner">
            <h3 class="title">Support</h3>
            <ul class="list-unstyled">
              <li><a href="#"><i class="fa fa-caret-right"></i>Help</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>Documentation</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>Terms of services</a></li>
              <li><a href="#"><i class="fa fa-caret-right"></i>Privacy</a></li>
            </ul>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="footer-col connect col-md-6 col-sm-12 col-xs-12">
          <div class="footer-col-inner">
            <ul class="social list-inline">
              <li><a href="https://github.com/probedock/probedock" target="_blank"><i class="fa fa-github"></i></a></li>
              <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li class="row-end"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a></li>
            </ul>
            <div class="form-container">
              <p class="intro">Stay up to date with the latest news and offers from Probe Dock.</p>
              <form class="signup-form navbar-form">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter your email address">
                </div>
                <button type="submit" class="btn btn-cta btn-cta-primary">Subscribe Now</button>
              </form>
            </div><!--//subscription-form-->
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="clearfix"></div> 
      </div><!--//row-->
      <div class="row has-divider">
        <div class="footer-col download col-md-6 col-sm-12 col-xs-12">
          <div class="footer-col-inner">
            <h3 class="title">Probes</h3>
            <ul class="list-unstyled download-list">
              <li><a class="btn btn-ghost" href="https://github.com/probedock/probedock-junit"><i class="fa fa-github"></i><span class="text">JUnit Probe</span> </a></li>
              <li><a class="btn btn-ghost" href="https://github.com/probedock/probedock-rspec"><i class="fa fa-github"></i><span class="text">RSpec Probe</span></a></li>
            </ul>
          </div><!--//footer-col-inner-->
        </div><!--//download-->
        <div class="footer-col contact col-md-6 col-sm-12 col-xs-12">
          <div class="footer-col-inner">
            <h3 class="title">Contact us</h3>
            <p class="adr clearfix">
              <i class="fa fa-map-marker pull-left"></i>
              <span class="adr-group pull-left">
                <span class="street-address">Rue Galilée 15</span><br>
                <span class="city">1400 Yverdon</span><br>
                <span class="country-name">Switzerland</span>
              </span>
            </p>
            <p class="email"><i class="fa fa-envelope-o"></i><a href="#">{{ site.email }}</a></p> 
            <a href="https://twitter.com/{{ site.twitter_username }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter_username }}</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div><!--//footer-col-inner-->
        </div><!--//contact-->
      </div>
    </div><!--//container-->
  </div><!--//footer-content-->
  <div class="bottom-bar">
    <div class="container">
      <small class="copyright">Copyright © 2015 <a href="http://probedock.io/" target="_blank">{{ site.title }}</a></small>
    </div><!--//container-->
  </div><!--//bottom-bar-->
</footer><!--//footer-->

<!-- Javascript -->
<script type="text/javascript" src="{{ "assets/plugins/jquery-1.11.2.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "assets/plugins/jquery-migrate-1.2.1.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "assets/plugins/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script> 
<script type="text/javascript" src="{{ "assets/plugins/bootstrap-hover-dropdown.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "assets/plugins/back-to-top.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "assets/plugins/jquery-placeholder/jquery.placeholder.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "assets/plugins/FitVids/jquery.fitvids.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "assets/plugins/flexslider/jquery.flexslider-min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "assets/js/main.js" | prepend: site.baseurl }}"></script>

<!-- Vimeo video API -->
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<script type="text/javascript" src="{{ "assets/js/vimeo.js" | prepend: site.baseurl }}"></script> 
