.blog.container {
  margin-top: 80px;
}

.blog-page .blog-entry-content {
  h2 {
    margin-top: 3em;
    margin-bottom: 1em;
  }

  h3 {
    margin-top: 1.4em;
  }

  img {
    max-width: 100%;
  }

  blockquote {
    p:last-child {
      margin-bottom: 0;
    }
  }

  ul li:first-child {
    margin-top: 1em;
  }
}
